/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#canvasContainer{
	-fx-border-color:linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(26,0,104) 0.0, rgb(102,77,179) 100.0);
	-fx-border-width: 5px;
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,15,0,1.4), 20, 0, 0, 0);
}

#mainPane{

     -fx-background-color: black;
    -fx-background-repeat: repeat ;
	-fx-background-position: center ;
	
}



#libraryArea{
	-fx-border-insets: 20 20 60 20;
	
}

#stage{
	-fx-background-color: black;
}

.button{
	-fx-background-color:rgb(128,128,128);
}

#outputField{
	
	-fx-text-fill:rgb(128,255,128);
	-fx-font: 12px Arial;
	-fx-font-style: italic;
	-fx-border-color:rgb(0,0,0);
	

}

#outputField * .content{

	
}

.label{
	-fx-font: 20px Arial;
	-fx-alignment:center ;
	-fx-text-fill: rgb(255,255,255);
	-fx-background-image:url(../resource/images/galaxy.jpg);
	
	-fx-font-weight: bolder;

}

#helpCommandArea * .content{
}

.text-field{
	-fx-text-fill:rgb(0,64,0);
}

#outputArea{
		-fx-background-color: black;
}
